@import url(https://fonts.googleapis.com/css2?family=Satisfy&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Buda:wght@300&family=Satisfy&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Arapey:ital@0;1&family=Buda:wght@300&family=Satisfy&display=swap);


$color_1: #3B5D50;
$color_2: #000000;
$color_3: #FFFFFF;
$color_4: #73976B;
$font-family_1: 'Bevan';
$font-family_2: 'Buda';
$font-family_3: 'Arapey';
$font-family_4: 'Satisfy';
$font-family_5: 'Abyssinica SIL';
$font-family_6: 'Roboto';

.about-us-mob {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 932px;
	box-sizing: border-box;
	overflow: auto;
	.elegant-logo-4-crop-1 {
		background: url('assets/images/ElegantLogo4Crop1.png') 50% / cover no-repeat;
		margin-top: 20px;
		margin-left: 100px;
		margin-right: 100px;
		margin-bottom: 20px;
		justify-content: center;
		width: 100%;
		max-width: 300px;
		height: 30px;
	}
	.clarityvmw-app-line {
		background: url('assets/images/8.png') 50% / cover no-repeat;
		margin: 15px 0px 10px 10px;
		width: 100px;
		height: 47px;
	}
	.nav {
		border-bottom: 0.8px solid #858585;
		background: rgba(212, 222, 210, 0.71);
		display: flex;
		flex-direction: row;
		width: 100%;
		height: fit-content;
		box-sizing: border-box; 
		position: sticky;
		top: 0;
		z-index: 1000; 
	}

	.image-30 {
		background: url('assets/images/Image30.png') 50% / cover no-repeat;
		width: 100%;
		height: 700px;
	}
	.with-the-implementation-of-cutting-edge-technologies-such-as-augmented-reality-and-machine-learning-furnifit-is-determined-to-become-areliable-partner-for-many-people-in-arranging-spaces-with-the-right-furniture-thus-furnifit-is-not-just-an-ordinary-ar-platform-but-acomprehensive-solution-that-helps-overcome-doubts-and-uncertainties-in-the-furniture-purchasing-process {
		margin: center;
		padding: 70px 30px 70px 30px;
		align-self: center;
		text-align: center;
		overflow-wrap: break-word;
		font-family: $font-family_2;
		font-weight: 300;
		font-size: 20px;
		letter-spacing: 0.4px;
		line-height: 1.25;
		color: $color_2;
		box-sizing: border-box;
	}
	.container-1 {
		background: #FFFFFF;
		position: relative;
		display: flex;
		flex-direction: row;
		align-items: center;
		padding: 0;
		width: 100%;
		height: fit-content;
		box-sizing: border-box;
		top: 855px;
	}
	.founded-by-agroup-of-informatics-students-department-in-president-university-furnifit-is-not-just-an-academic-project-but-also-an-expression-of-commitment-to-bring-innovative-solutions-this-team-consists-of-rizvany-aisyah-anisya-niken-manik-kartika-nirmala-pusparatna-and-yusi-roziana-who-combine-the-knowledge-and-skills-they-acquired-during-their-study-to-bring-technological-convenience-into-everyday-life {
		overflow-wrap: break-word;
		padding: 60px 70px 60px 70px;
		text-align: left;
		height: fit-content;
		font-family: $font-family_3;
		font-weight: 400;
		font-size: 13px;
		letter-spacing: 0.4px;
		line-height: 1.25;
		color: $color_2;
		width: 100%;
		box-sizing: border-box;

	}
	.container-2 {
		background: rgba(221, 229, 223, 0.65);
		position: absolute;
		height: fit-content;
		align-items: center;
		top: 355px;
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 500px;
		box-sizing: border-box;
	}
	.furnifit-and-team {
		
		display: inline-block;
		text-align: center;
		overflow-wrap: break-word;
		font-family: $font-family_4;
		font-weight: 400;
		font-size: 30px;
		padding-bottom: 40px;
		letter-spacing: 0.5px;
		line-height: 1;
		color: $color_3;
		width: 100%;
	}
	.furnifit-established-in-2024-is-aresponse-to-the-common-issue-faced-by-many-people-when-purchasing-furniture-uncertainty-about-placement-with-aclear-vision-furnifit-was-founded-with-the-goal-of-convincing-consumers-to-choose-products-that-align-with-their-desires-through-the-integration-of-augmented-reality-ar-technology-in-the-spaces-they-desire {
		overflow-wrap: break-word;
		margin: auto ;
		text-align: center;
		height: fit-content;
		font-family: $font-family_3;
		font-weight: 400;
		font-size: 18px;
		letter-spacing: 0.4px;
		line-height: 1.25;
		color: $color_3;
		width: 100%;
	}
	.container-3 {
		
		position: absolute;
		left: 0px;
		top: 10px;
		right:0px;
		width: 100%;
		display: flex;
		height: fit-content;
		flex-direction: column;
		padding: 50px 30px 50px 30px;
		box-sizing: border-box;
	}

	.image-28 {
		mix-blend-mode: darken;
		box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
		background: url('assets/images/Image28.png')50% / cover no-repeat;
		position: absolute;
		width: 100%;
		top: 10px;
		left: 0px;
		right: 0px;
		height: 350px;
		filter: brightness(0.4); /* Ubah nilai ini untuk menyesuaikan kegelapan */
	}

	.desain-tanpa-judul-31 {
		background: url('assets/images/DesainTanpaJudul31.png') 50% / cover no-repeat;
		position: absolute;
		top: 1220px;
		left: 0px;
		right: 0px;
		width: 100%;
		height:100%;
	}
	.landing {
		position: relative;
		display: flex;
		flex-direction: row;
		justify-content: center;
		width: 100%;
		top: -10px;
		padding: 0;
		margin: 0;
		box-sizing: border-box;
	}
	.vector-5 {
		background: #73976B;
		margin-bottom: 18px;
		width: 100%;
		height: 1px;
	}
	.furni-fit {
		margin-bottom: 6px;
		display: inline-block;
		align-self: flex-start;
		overflow-wrap: break-word;
		font-family: $font-family_6;
		font-weight: 700;
		font-size: 15px;
		letter-spacing: 0.2px;
		line-height: 1.4;
		color: $color_4;
	}
	.all-rights-reserved {
		overflow-wrap: break-word;
		font-family: $font-family_6;
		font-weight: 400;
		font-size: 13px;
		letter-spacing: 0.2px;
		line-height: 1.4;
		color: $color_4;
	}
	.footer-furni-fit {
		display: flex;
		flex-direction: column;
		box-sizing: border-box;
	}
	.about-us {
		overflow-wrap: break-word;
		font-family: $font-family_6;
		font-weight: 700;
		font-size: 15px;
		letter-spacing: 0.2px;
		line-height: 1.4;
		color: $color_4;
	}
	.nav-footer {
		margin: 14px 0 17px 0;
		display: flex;
		flex-direction: row;
		justify-content: center;
		box-sizing: border-box;
	}
	.container {
		margin-right: 9.7px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 100%;
		box-sizing: border-box;
	}
	.footer {
		background: #FFFFFF;
		position: relative;
		top: 1200px;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 30px 32.6px 20px 36px;
		width: 100%;
		box-sizing: border-box;
	}
	}

