@import url(https://fonts.googleapis.com/css2?family=Satisfy&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Buda:wght@300&family=Satisfy&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Arapey:ital@0;1&family=Buda:wght@300&family=Satisfy&display=swap);

$color_1: #3B5D50;
$color_2: #000000;
$color_3: #FFFFFF;
$color_4: #73976B;
$font-family_1: 'Bevan';
$font-family_2: 'Buda';
$font-family_3: 'Arapey';
$font-family_4: 'Satisfy';
$font-family_5: 'Abyssinica SIL';
$font-family_6: 'Roboto';

.about-us-page {
	.elegant-logo-2 {
		background: url('assets/images/ElegantLogo2.png') 50% / cover no-repeat;
		width: 172px;
		height: 70px;
	}
	.home {
		margin: 17px 0 14px 0;
		display: inline-block;
		overflow-wrap: break-word;
		font-family: $font-family_1;
		font-weight: 400;
		font-size: 24px;
		color: $color_1;
	}
	.recommendation {
		margin: 17px 0 14px 0;
		display: inline-block;
		overflow-wrap: break-word;
		font-family: $font-family_1;
		font-weight: 400;
		font-size: 24px;
		color: $color_1;
	}
	.furniture {
		margin: 17px 0 14px 0;
		display: inline-block;
		overflow-wrap: break-word;
		font-family: $font-family_1;
		font-weight: 400;
		font-size: 24px;
		color: $color_1;
	}
	.about {
		margin: 0 0.5px 6px 0;
		display: inline-block;
		overflow-wrap: break-word;
		font-family: $font-family_1;
		font-weight: 400;
		font-size: 24px;
		color: $color_1;
	}
	.line-1 {
		background: #73976B;
		width: 83px;
		height: 5px;
	}
	.group-229 {
		display: flex;
		flex-direction: row;
		justify-content: center;
		width: 83px;
		height: 5px;
		box-sizing: border-box;
	}
	.container-4 {
		margin: 17px 0 3px 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		box-sizing: border-box;
	}
	.user-cicrle-duotone {
		background: url('assets/images/1.png') 50% / cover no-repeat;
		margin: 8px 0;
		width: 55px;
		height: 54px;
	}
	.group-230 {
		border-bottom: 0.8px solid #858585;
		background: rgba(212, 222, 210, 0.71);
		position: relative;
		margin-bottom: 1px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding: 10px 79px 10px 57px;
		width: 100%;
		box-sizing: border-box;
	}
	.nav {
		border-bottom: 0.8px solid #858585;
  		background: rgba(212, 222, 210, 1);
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding: 10px 79px 10px 57px;
		width: 100%; 
		max-width: 1920px;// Menggunakan lebar 100% agar sesuai dengan lebar layar
		height: fit-content;
		box-sizing: border-box;
		transition: top 0.3s; // Efek transisi ketika navbar bergeser
		position: fixed;
		top: 0;
		width: 100vw;
		max-width: 100%;
		left: 50%;
		transform: translateX(-50%);
		z-index: 1000; /* Pastikan navbar selalu berada di atas konten */
	  }
	.image-30 {
		background: url('assets/images/Image30.png') 50% / cover no-repeat;
		margin-bottom: 179px;
		margin: 0;
		width: 100%;
		height: 500px;
	}
	.with-the-implementation-of-cutting-edge-technologies-such-as-augmented-reality-and-machine-learning-furnifit-is-determined-to-become-areliable-partner-for-many-people-in-arranging-spaces-with-the-right-furniture-thus-furnifit-is-not-just-an-ordinary-ar-platform-but-acomprehensive-solution-that-helps-overcome-doubts-and-uncertainties-in-the-furniture-purchasing-process {
		margin: center;
		padding: 150px 180px 150px 180px;
		align-self: center;
		text-align: center;
		overflow-wrap: break-word;
		font-family: $font-family_2;
		font-weight: 300;
		font-size: 27px;
		letter-spacing: 0.4px;
		line-height: 1.25;
		color: $color_2;
	}
	.container-1 {
		background: #FFFFFF;
		position: relative;
		display: flex;
		flex-direction: row;
		align-items: center;
		padding: 0;
		width: 100%;
		height: fit-content;
		box-sizing: border-box;
		max-width: 1920px;
		top: 950px;
	}
	.founded-by-agroup-of-informatics-students-department-in-president-university-furnifit-is-not-just-an-academic-project-but-also-an-expression-of-commitment-to-bring-innovative-solutions-this-team-consists-of-rizvany-aisyah-anisya-niken-manik-kartika-nirmala-pusparatna-and-yusi-roziana-who-combine-the-knowledge-and-skills-they-acquired-during-their-study-to-bring-technological-convenience-into-everyday-life {
		overflow-wrap: break-word;
		margin: 30px 100px 30px 100px;
		font-family: $font-family_3;
		font-weight: 400;
		font-size: 25px;
		letter-spacing: 0.4px;
		line-height: 1.389;
		color: $color_2;
		width: 100%;
	}
	.container-2 {
		background: rgba(221, 229, 223, 0.65);
		position: absolute;
		align-items: center;
		top: 460px;
		display: flex;
		flex-direction: row;
		width: 100%;
		height: 500px;
		box-sizing: border-box;
	}
	.furnifit-and-team {
		margin: 100px 200px 100px 200px;
		display: inline-block;
		text-align: center;
		overflow-wrap: break-word;
		font-family: $font-family_4;
		font-weight: 400;
		font-size: 30px;
		letter-spacing: 0.5px;
		line-height: 1;
		color: $color_3;
	}
	.furnifit-established-in-2024-is-aresponse-to-the-common-issue-faced-by-many-people-when-purchasing-furniture-uncertainty-about-placement-with-aclear-vision-furnifit-was-founded-with-the-goal-of-convincing-consumers-to-choose-products-that-align-with-their-desires-through-the-integration-of-augmented-reality-ar-technology-in-the-spaces-they-desire {
		overflow-wrap: break-word;
		margin: auto ;
		margin-right: 70px;
		height: fit-content;
		font-family: $font-family_5;
		font-weight: 400;
		font-size: 23px;
		letter-spacing: 0.4px;
		line-height: 1.25;
		color: $color_3;
		width: 100%;
	}
	.container-3 {
		
		position: absolute;
		left: 0px;
		top: 60px;
		right: 5px;
		width: 100%;
		display: flex;
		height: fit-content;
		flex-direction: row;
		justify-content: space-between;
		padding: 50px 50px 50px 0;
		box-sizing: border-box;
	}

	.image-28 {
		mix-blend-mode: darken;
		box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
		background: url('assets/images/Image28.png')50% / cover no-repeat;
		position: absolute;
		left: 0px;
		top: 60px;
		right: 0px;
		height: 400px;
		filter: brightness(0.4); /* Ubah nilai ini untuk menyesuaikan kegelapan */
	}

	.desain-tanpa-judul-31 {
		background: url('assets/images/DesainTanpaJudul31.png') 50% / cover no-repeat;
		position: absolute;
		top: 1400px;
		left: 5px;
		right: 0px;
		bottom: 118.7px;
		height: 641.3px;
	}
	.landing {
		position: relative;
		display: flex;
		flex-direction: row;
		justify-content: center;
		padding: 0px 0px 0 0px;
		width: 100%;
		top: -10px;
		box-sizing: border-box;
	}
	.vector-5 {
		background: #73976B;
		margin-bottom: 24px;
		width: 100%;
		height: 1px;
	}
	.furni-fit {
		margin-bottom: 6px;
		display: inline-block;
		align-self: flex-start;
		overflow-wrap: break-word;
		font-family: $font-family_6;
		font-weight: 700;
		font-size: 20px;
		letter-spacing: 0.2px;
		line-height: 1.4;
		color: $color_4;
	}
	.all-rights-reserved {
		overflow-wrap: break-word;
		font-family: $font-family_6;
		font-weight: 400;
		font-size: 13px;
		letter-spacing: 0.2px;
		line-height: 1.4;
		color: $color_4;
	}
	.footer-furni-fit {
		display: flex;
		flex-direction: column;
		box-sizing: border-box;
	}
	.about-us {
		overflow-wrap: break-word;
		font-family: $font-family_6;
		font-weight: 700;
		font-size: 15px;
		letter-spacing: 0.2px;
		line-height: 1.4;
		color: $color_4;
	}
	.nav-footer {
		margin: 14px 0 17px 0;
		display: flex;
		flex-direction: row;
		justify-content: center;
		box-sizing: border-box;
	}
	.container {
		margin-right: 9.7px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 100%;
		box-sizing: border-box;
	}
	.footer {
		background: #FFFFFF;
		position: relative;
		margin-left: 5px;
		top: 1500px;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 100px 32.6px 41px 36px;
		width: 100%;
		box-sizing: border-box;
	}
	background: #FFFFFF;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: auto;
	box-sizing: border-box;
}
