$color_1: #3B5D50;
$color_2: #9F9F9F;
$color_3: #000000;
$color_4: #2F2F2F;
$font-family_1: 'Bevan';
$font-family_2: 'Poppins';
$font-family_3: 'Inter';
$font-family_4: 'Poly';
$font-family_5: 'Roboto';

.detail-furniture-page-revise {
	.elegant-logo-2 {
		background: url('assets/images/ElegantLogo2.png') 50% / cover no-repeat;
		width: 172px;
		height: 70px;
	}
	.home-1 {
		margin: 17px 0 14px 0;
		display: inline-block;
		overflow-wrap: break-word;
		font-family: $font-family_1;
		font-weight: 400;
		font-size: 24px;
		color: $color_1;
	}
	.recommendation {
		margin: 17px 0 14px 0;
		display: inline-block;
		overflow-wrap: break-word;
		font-family: $font-family_1;
		font-weight: 400;
		font-size: 24px;
		color: $color_1;
	}
	.furniture-1 {
		position: relative;
		margin: 17px 0 14px 0;
		display: inline-block;
		overflow-wrap: break-word;
		font-family: $font-family_1;
		font-weight: 400;
		font-size: 24px;
		color: $color_1;
	}
	.about {
		margin: 17px 0 14px 0;
		display: inline-block;
		overflow-wrap: break-word;
		font-family: $font-family_1;
		font-weight: 400;
		font-size: 24px;
		color: $color_1;
	}
	.user-cicrle-duotone {
		margin: 8px 0;
		width: 55px;
		height: 54px;
	}
	.line-11 {
		background: #73976B;
		width: 133px;
		height: 5px;
	}
	.group-228 {
		position: absolute;
		right: 650px;
		bottom: 22.6px;
		display: flex;
		flex-direction: row;
		justify-content: center;
		width: 133px;
		height: 5px;
		box-sizing: border-box;
	}
	.nav {
		border-bottom: 0.8px solid #858585;
		background: rgba(212, 222, 210, 0.71);
		position: relative;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding: 10px 79px 10px 57px;
		width: 1920px;
		box-sizing: border-box;
	}
	.home {
		margin-right: 12px;
		width: 78.7px;
		overflow-wrap: break-word;
		font-family: $font-family_2;
		font-weight: 400;
		font-size: 16px;
		color: $color_2;
	}
	.vector {
		width: 10.7px;
		height: 14px;
	}
	.dashiconsarrow-up-alt-2 {
		margin: 5px 0;
		display: flex;
		flex-direction: row;
		justify-content: center;
		width: 10.7px;
		height: 14px;
		box-sizing: border-box;
	}
	.group-84 {
		margin: 7px 0 6px 0;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 101.3px;
		height: fit-content;
		box-sizing: border-box;
	}
	.furniture {
		margin-right: 20.6px;
		overflow-wrap: break-word;
		font-family: $font-family_2;
		font-weight: 400;
		font-size: 16px;
		color: $color_2;
	}
	.vector-1 {
		width: 10.7px;
		height: 14px;
	}
	.dashiconsarrow-up-alt-21 {
		margin: 5px 0;
		display: flex;
		flex-direction: row;
		justify-content: center;
		width: 10.7px;
		height: 14px;
		box-sizing: border-box;
	}
	.group-85 {
		margin: 7px 0 6px 0;
		display: flex;
		flex-direction: row;
		box-sizing: border-box;
	}
	.line-5 {
		background: #9F9F9F;
		width: 2px;
		height: 37px;
	}
	.nama-furniture {
		margin: 6px 0 7px 0;
		display: inline-block;
		overflow-wrap: break-word;
		font-family: $font-family_2;
		font-weight: 400;
		font-size: 16px;
		color: $color_3;
	}
	.group-62 {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 186.9px;
		box-sizing: border-box;
	}
	.nav-detail-page {
		margin-bottom: 83.6px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 470.9px;
		height: fit-content;
		box-sizing: border-box;
	}
	.image-23 {
		background: url('assets/images/Image23.png') 50% / cover no-repeat;
		width: 80.8px;
		height: 89.6px;
	}
	.ar-logo-1 {
		border-radius: 25px;
		background: #D8E1DC;
		position: relative;
		margin-top: 20px;
		display: flex;
		flex-direction: row;
		justify-content: center;
		padding: 6.3px 11.4px 4.7px 13.7px;
		width: 106px;
		height: 100.6px;
		box-sizing: border-box;
	}
	.container-7 {
		margin: 0 0 14.4px 4px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 1672px;
		box-sizing: border-box;
	}
	.asgaard-sofa-3 {
		background: url('assets/images/AsgaardSofa3.png') 50% / cover no-repeat;
		width: 713px;
		height: 568px;
	}
	.container {
		background: #E2E5E3;
		position: relative;
		margin-right: 123px;
		display: flex;
		flex-direction: row;
		justify-content: center;
		padding: 69px 34px 26px 83px;
		width: 830px;
		height: 663px;
		box-sizing: border-box;
		overflow-wrap: break-word;
		font-family: $font-family_5;
		font-weight: 400;
		font-size: 30px;
		letter-spacing: 0.3px;
		line-height: 1.4;
		color: $color_3;
	}
	.product-name {
		margin-bottom: 19px;
		display: inline-block;
		align-self: flex-start;
		overflow-wrap: break-word;
		font-family: $font-family_2;
		font-weight: 600;
		font-size: 40px;
		color: $color_4;
	}
	.indoor-outdoor {
		margin-bottom: 56px;
		display: inline-block;
		align-self: flex-start;
		overflow-wrap: break-word;
		font-family: $font-family_3;
		font-weight: 600;
		font-size: 28px;
		color: $color_4;
	}
	.room-type {
		margin: 1px 16.5px 8px 0;
		display: inline-block;
		width: 212.5px;
		overflow-wrap: break-word;
		font-family: $font-family_4;
		font-weight: 400;
		font-size: 30px;
		letter-spacing: 0.6px;
		line-height: 1.1;
		color: $color_3;
	}
	.container-4 {
		overflow-wrap: break-word;
		font-family: $font-family_5;
		font-weight: 400;
		font-size: 30px;
		letter-spacing: 0.3px;
		line-height: 1.4;
		color: $color_3;
		margin-bottom: 35.4px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-self: flex-start;
		width: 429.7px;
		box-sizing: border-box;
	}
	.category {
		margin: 1px 0 8px 0;
		display: inline-block;
		overflow-wrap: break-word;
		font-family: $font-family_4;
		font-weight: 400;
		font-size: 30px;
		letter-spacing: 0.6px;
		line-height: 1.1;
		color: $color_3;
	}
	.container-5 {
		margin-bottom: 28.6px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-self: flex-start;
		width: 434.4px;
		box-sizing: border-box;
	}
	.product-type {
		margin: 0.4px 16.5px 8.6px 0;
		display: inline-block;
		width: 212.5px;
		overflow-wrap: break-word;
		font-family: $font-family_4;
		font-weight: 400;
		font-size: 30px;
		letter-spacing: 0.6px;
		line-height: 1.1;
		color: $color_3;
	}
	.container-3 {
		overflow-wrap: break-word;
		font-family: $font-family_5;
		font-weight: 400;
		font-size: 30px;
		letter-spacing: 0.3px;
		line-height: 1.4;
		color: $color_3;
		margin-right: 33.2px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 460.6px;
		box-sizing: border-box;
	}
	.product-type-1 {
		margin: 0.4px 0 8.6px 0;
		display: inline-block;
		overflow-wrap: break-word;
		font-family: $font-family_4;
		font-weight: 400;
		font-size: 30px;
		letter-spacing: 0.6px;
		line-height: 1.1;
		color: $color_3;
	}
	.container-1 {
		margin-bottom: 35.4px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 493.8px;
		box-sizing: border-box;
		overflow-wrap: break-word;
		font-family: $font-family_5;
		font-weight: 400;
		font-size: 30px;
		letter-spacing: 0.3px;
		line-height: 1.4;
		color: $color_3;
	}
	.material {
		margin: 1px 16.5px 8px 0;
		display: inline-block;
		width: 212.5px;
		overflow-wrap: break-word;
		font-family: $font-family_4;
		font-weight: 400;
		font-size: 30px;
		letter-spacing: 0.6px;
		line-height: 1.1;
		color: $color_3;
	}
	.container-2 {
		overflow-wrap: break-word;
		font-family: $font-family_5;
		font-weight: 400;
		font-size: 30px;
		letter-spacing: 0.3px;
		line-height: 1.4;
		color: $color_3;
		margin: 0 4px 117px 4px;
		display: flex;
		flex-direction: row;
		align-self: flex-start;
		width: fit-content;
		box-sizing: border-box;
	}
	.material-1 {
		margin: 1px 0 8px 0;
		display: inline-block;
		overflow-wrap: break-word;
		font-family: $font-family_4;
		font-weight: 400;
		font-size: 30px;
		letter-spacing: 0.6px;
		line-height: 1.1;
		color: $color_3;
	}
	.style {
		margin: 0.6px 16.5px 8.4px 0;
		display: inline-block;
		width: 212.5px;
		overflow-wrap: break-word;
		font-family: $font-family_4;
		font-weight: 400;
		font-size: 30px;
		letter-spacing: 0.6px;
		line-height: 1.1;
		color: $color_3;
	}
	.style-1 {
		margin: 0.6px 0 8.4px 0;
		display: inline-block;
		overflow-wrap: break-word;
		font-family: $font-family_4;
		font-weight: 400;
		font-size: 30px;
		letter-spacing: 0.6px;
		line-height: 1.1;
		color: $color_3;
	}
	.container-6 {
		margin-bottom: 28.6px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-self: flex-start;
		width: 378.2px;
		box-sizing: border-box;
	}
	.dimension {
		margin: 1px 16.5px 8px 0;
		display: inline-block;
		width: 212.5px;
		overflow-wrap: break-word;
		font-family: $font-family_4;
		font-weight: 400;
		font-size: 30px;
		letter-spacing: 0.6px;
		line-height: 1.1;
		color: $color_3;
	}
	.dimension-1 {
		margin: 1px 0 8px 0;
		display: inline-block;
		overflow-wrap: break-word;
		font-family: $font-family_4;
		font-weight: 400;
		font-size: 30px;
		letter-spacing: 0.6px;
		line-height: 1.1;
		color: $color_3;
	}
	.group-260 {
		margin: 78px 0;
		display: flex;
		flex-direction: column;
		box-sizing: border-box;
	}
	.description {
		margin-bottom: 15.3px;
		display: inline-block;
		align-self: flex-start;
		overflow-wrap: break-word;
		font-family: $font-family_2;
		font-weight: 500;
		font-size: 40px;
		color: $color_3;
	}
	.line-1 {
		background: #73976B;
		width: 239px;
		height: 5px;
	}
	.group-229 {
		margin: 0 4px 22.7px 4px;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-self: flex-start;
		width: 239px;
		height: 5px;
		box-sizing: border-box;
	}
	.weighing-in-under-7-pounds-the-kilburn-is-alightweight-piece-of-vintage-styled-engineering-setting-the-bar-as-one-of-the-loudest-speakers-in-its-class-the-kilburn-is-acompact-stout-hearted-hero-with-awell-balanced-audio-which-boasts-aclear-midrange-and-extended-highs-for-asound-that-is-both-articulate-and-pronounced-the-analogue-knobs-allow-you-to-fine-tune-the-controls-to-your-personal-preferences-while-the-guitar-influenced-leather-strap-enables-easy-and-stylish-travel {
		margin: 0 4px;
		align-self: flex-start;
		text-align: justify;
		overflow-wrap: break-word;
		font-family: $font-family_2;
		font-weight: 400;
		font-size: 28px;
		letter-spacing: 0.3px;
		color: $color_3;
	}
	.frame-34 {
		background: #FFFFFF;
		display: flex;
		flex-direction: column;
		padding: 31px 116px 0 128px;
		width: fit-content;
		box-sizing: border-box;
	}
	background: #FFFFFF;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 460px;
	width: 1920px;
	box-sizing: border-box;
}
