$color_1: #475762;
$font-family_1: 'Poly';

.loading-screen-revise {
	.rectangle-2192 {
		background: rgba(157, 180, 152, 0.44);
		position: absolute;
		left: 0px;
		top: 0px;
		right: 0px;
		bottom: 0px;
		height: 100%;
	}
	.elegant-logo-21 {
		background: url('assets/images/ElegantLogo22.png') 50% / cover no-repeat;
		position: absolute;
		left: 374px;
		bottom: 288px;
		width: 625px;
		height: 492px;
	}
	.j {
		position: relative;
		overflow-wrap: break-word;
		font-family: $font-family_1;
		font-weight: 400;
		font-size: 85px;
		color: $color_1;
	}
	background: #FFFFFF;
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding: 394.5px 0 382.5px 626px;
	width: 1920px;
	box-sizing: border-box;
}
.j-sub1 {
	font-family: $font-family_1;
	font-style: italic;
	font-weight: 400;
	font-size: 85px;
	line-height: 1.333;
}
