$color_1: #3B5D50;
$color_2: #2E6D28;
$color_3: #000000;
$color_4: #FEFDFF;
$color_5: #FFFFFF;
$color_6: #DCE4DB;
$font-family_1: 'Bevan';
$font-family_2: 'Poppins';
$font-family_3: 'Poly';

.recomendation-page-revise {
	.elegant-logo-2 {
		background: url('assets/images/ElegantLogo2.png') 50% / cover no-repeat;
		width: 172px;
		height: 70px;
	}
	.home {
		margin: 17px 0 14px 0;
		display: inline-block;
		overflow-wrap: break-word;
		font-family: $font-family_1;
		font-weight: 400;
		font-size: 24px;
		color: $color_1;
	}
	.recommendation {
		margin: 0 0.1px 5px 0;
		display: inline-block;
		overflow-wrap: break-word;
		font-family: $font-family_1;
		font-weight: 400;
		font-size: 24px;
		color: $color_1;
	}
	.line-1 {
		background: #73976B;
		width: 240px;
		height: 5px;
	}
	.group-229 {
		display: flex;
		flex-direction: row;
		justify-content: center;
		width: 240px;
		height: 5px;
		box-sizing: border-box;
	}
	.container-14 {
		margin: 17px 0 4px 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		box-sizing: border-box;
	}
	.furniture {
		margin: 17px 0 14px 0;
		display: inline-block;
		overflow-wrap: break-word;
		font-family: $font-family_1;
		font-weight: 400;
		font-size: 24px;
		color: $color_1;
	}
	.about {
		margin: 17px 0 14px 0;
		display: inline-block;
		overflow-wrap: break-word;
		font-family: $font-family_1;
		font-weight: 400;
		font-size: 24px;
		color: $color_1;
	}
	.user-cicrle-duotone {
		margin: 8px 0;
		width: 55px;
		height: 54px;
	}
	.nav {
		border-bottom: 0.8px solid #858585;
		background: rgba(212, 222, 210, 0.71);
		position: relative;
		margin-bottom: 2px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding: 10px 79px 10px 57px;
		width: 1920px;
		box-sizing: border-box;
	}
	.space-category-1 {
		margin: 0 4.3px 13px 1px;
		display: inline-block;
		overflow-wrap: break-word;
		font-family: $font-family_2;
		font-weight: 500;
		font-size: 30px;
		letter-spacing: 0.3px;
		line-height: 1.4;
		color: $color_2;
	}
	.filter-1 {
		overflow-wrap: break-word;
		font-family: $font-family_2;
		font-weight: 700;
		font-size: 16px;
		color: $color_3;
	}
	.sc-out {
		border-radius: 70px;
		border: 2px solid #446A60;
		position: relative;
		margin-right: 16px;
		display: flex;
		flex-direction: row;
		justify-content: center;
		padding: 5.5px 0 5.5px 0.6px;
		width: 119px;
		box-sizing: border-box;
	}
	.filter {
		overflow-wrap: break-word;
		font-family: $font-family_2;
		font-weight: 700;
		font-size: 16px;
		color: $color_3;
	}
	.sc-in {
		border-radius: 70px;
		border: 2px solid #446A60;
		position: relative;
		display: flex;
		flex-direction: row;
		justify-content: center;
		padding: 5.5px 0 5.5px 0.6px;
		width: 119px;
		box-sizing: border-box;
	}
	.container-15 {
		display: flex;
		flex-direction: row;
		width: 254px;
		box-sizing: border-box;
	}
	.space-category {
		margin-bottom: 38px;
		display: flex;
		flex-direction: column;
		align-items: center;
		align-self: flex-start;
		width: fit-content;
		box-sizing: border-box;
	}
	.sub-space-category {
		margin-bottom: 8px;
		display: inline-block;
		align-self: flex-start;
		overflow-wrap: break-word;
		font-family: $font-family_2;
		font-weight: 500;
		font-size: 30px;
		letter-spacing: 0.3px;
		line-height: 1.4;
		color: $color_2;
	}
	.filter-7 {
		overflow-wrap: break-word;
		font-family: $font-family_2;
		font-weight: 700;
		font-size: 16px;
		color: $color_3;
	}
	.group-61 {
		border-radius: 70px;
		border: 2px solid #446A60;
		position: relative;
		display: flex;
		flex-direction: row;
		justify-content: center;
		padding: 5.5px 0 5.5px 0.7px;
		width: 139px;
		box-sizing: border-box;
	}
	.filter-8 {
		overflow-wrap: break-word;
		font-family: $font-family_2;
		font-weight: 700;
		font-size: 16px;
		color: $color_3;
	}
	.group-71 {
		border-radius: 70px;
		border: 2px solid #446A60;
		position: relative;
		display: flex;
		flex-direction: row;
		justify-content: center;
		padding: 5.5px 0 5.5px 0.6px;
		width: 119px;
		box-sizing: border-box;
	}
	.filter-2 {
		overflow-wrap: break-word;
		font-family: $font-family_2;
		font-weight: 700;
		font-size: 16px;
		color: $color_3;
	}
	.group-10 {
		border-radius: 70px;
		border: 2px solid #446A60;
		position: relative;
		margin-bottom: 1px;
		display: flex;
		flex-direction: row;
		justify-content: center;
		padding: 5px 0 5px 0.6px;
		width: 119px;
		height: fit-content;
		box-sizing: border-box;
	}
	.container {
		margin-bottom: 24px;
		display: flex;
		flex-direction: row;
		column-gap: 13px;
		width: 403px;
		box-sizing: border-box;
	}
	.filter-4 {
		overflow-wrap: break-word;
		font-family: $font-family_2;
		font-weight: 700;
		font-size: 16px;
		color: $color_3;
	}
	.group-8 {
		border-radius: 70px;
		border: 2px solid #446A60;
		position: relative;
		margin-right: 14px;
		display: flex;
		flex-direction: row;
		justify-content: center;
		padding: 5px 0 5px 0.9px;
		width: 174px;
		box-sizing: border-box;
	}
	.filter-5 {
		overflow-wrap: break-word;
		font-family: $font-family_2;
		font-weight: 700;
		font-size: 16px;
		color: $color_3;
	}
	.group-6 {
		border-radius: 70px;
		border: 2px solid #446A60;
		position: relative;
		display: flex;
		flex-direction: row;
		justify-content: center;
		padding: 5px 0 5px 1px;
		width: 200px;
		box-sizing: border-box;
	}
	.container-22 {
		margin: 0 15px 24px 0;
		display: flex;
		flex-direction: row;
		width: 388px;
		box-sizing: border-box;
	}
	.filter-6 {
		overflow-wrap: break-word;
		font-family: $font-family_2;
		font-weight: 700;
		font-size: 16px;
		color: $color_3;
	}
	.group-7 {
		border-radius: 70px;
		border: 2px solid #446A60;
		position: relative;
		margin-right: 19px;
		display: flex;
		flex-direction: row;
		justify-content: center;
		padding: 5px 0 5px 0.9px;
		width: 169px;
		box-sizing: border-box;
	}
	.filter-3 {
		overflow-wrap: break-word;
		font-family: $font-family_2;
		font-weight: 700;
		font-size: 16px;
		color: $color_3;
	}
	.group-9 {
		border-radius: 70px;
		border: 2px solid #446A60;
		position: relative;
		display: flex;
		flex-direction: row;
		justify-content: center;
		padding: 5px 0 5px 0.6px;
		width: 119px;
		box-sizing: border-box;
	}
	.container-8 {
		display: flex;
		flex-direction: row;
		align-self: flex-start;
		width: 307px;
		box-sizing: border-box;
	}
	.sub-space-cat {
		margin-left: 1px;
		display: flex;
		flex-direction: column;
		width: fit-content;
		box-sizing: border-box;
	}
	.container-1 {
		margin-right: 114px;
		display: flex;
		flex-direction: column;
		box-sizing: border-box;
	}
	.product-type-1 {
		margin-bottom: 13px;
		display: inline-block;
		align-self: flex-start;
		overflow-wrap: break-word;
		font-family: $font-family_2;
		font-weight: 500;
		font-size: 30px;
		letter-spacing: 0.3px;
		line-height: 1.4;
		color: $color_2;
	}
	.filter-34 {
		overflow-wrap: break-word;
		font-family: $font-family_2;
		font-weight: 700;
		font-size: 16px;
		color: $color_3;
	}
	.group-62 {
		border-radius: 70px;
		border: 2px solid #446A60;
		position: relative;
		margin-right: 15px;
		display: flex;
		flex-direction: row;
		justify-content: center;
		padding: 5px 0 5px 0.8px;
		width: 164px;
		box-sizing: border-box;
	}
	.filter-35 {
		overflow-wrap: break-word;
		font-family: $font-family_2;
		font-weight: 700;
		font-size: 16px;
		color: $color_3;
	}
	.group-81 {
		border-radius: 70px;
		border: 2px solid #446A60;
		position: relative;
		margin-right: 15px;
		display: flex;
		flex-direction: row;
		justify-content: center;
		padding: 5px 0 5px 0.8px;
		width: 164px;
		box-sizing: border-box;
	}
	.filter-50 {
		overflow-wrap: break-word;
		font-family: $font-family_2;
		font-weight: 700;
		font-size: 16px;
		color: $color_3;
	}
	.group-91 {
		border-radius: 70px;
		border: 2px solid #446A60;
		position: relative;
		margin-right: 21px;
		display: flex;
		flex-direction: row;
		justify-content: center;
		padding: 5px 0 5px 0.8px;
		width: 164px;
		box-sizing: border-box;
	}
	.filter-49 {
		overflow-wrap: break-word;
		font-family: $font-family_2;
		font-weight: 700;
		font-size: 16px;
		color: $color_3;
	}
	.group-101 {
		border-radius: 70px;
		border: 2px solid #446A60;
		position: relative;
		margin-right: 15px;
		display: flex;
		flex-direction: row;
		justify-content: center;
		padding: 5px 0 5px 0.8px;
		width: 164px;
		box-sizing: border-box;
	}
	.filter-39 {
		overflow-wrap: break-word;
		font-family: $font-family_2;
		font-weight: 700;
		font-size: 16px;
		color: $color_3;
	}
	.group-17 {
		border-radius: 70px;
		border: 2px solid #446A60;
		position: relative;
		display: flex;
		flex-direction: row;
		justify-content: center;
		padding: 5px 0 5px 0.8px;
		width: 164px;
		box-sizing: border-box;
	}
	.container-4 {
		margin-bottom: 20px;
		display: flex;
		flex-direction: row;
		width: 886px;
		box-sizing: border-box;
	}
	.filter-48 {
		overflow-wrap: break-word;
		font-family: $font-family_2;
		font-weight: 700;
		font-size: 16px;
		color: $color_3;
	}
	.group-11 {
		border-radius: 70px;
		border: 2px solid #446A60;
		position: relative;
		margin-right: 15px;
		display: flex;
		flex-direction: row;
		justify-content: center;
		padding: 5px 0 5px 0.8px;
		width: 164px;
		box-sizing: border-box;
	}
	.filter-47 {
		overflow-wrap: break-word;
		font-family: $font-family_2;
		font-weight: 700;
		font-size: 16px;
		color: $color_3;
	}
	.group-12 {
		border-radius: 70px;
		border: 2px solid #446A60;
		position: relative;
		margin-right: 15px;
		display: flex;
		flex-direction: row;
		justify-content: center;
		padding: 5px 0 5px 0.8px;
		width: 164px;
		box-sizing: border-box;
	}
	.filter-46 {
		overflow-wrap: break-word;
		font-family: $font-family_2;
		font-weight: 700;
		font-size: 16px;
		color: $color_3;
	}
	.group-13 {
		border-radius: 70px;
		border: 2px solid #446A60;
		position: relative;
		margin-right: 21px;
		display: flex;
		flex-direction: row;
		justify-content: center;
		padding: 5px 0 5px 0.8px;
		width: 164px;
		box-sizing: border-box;
	}
	.filter-45 {
		overflow-wrap: break-word;
		font-family: $font-family_2;
		font-weight: 700;
		font-size: 16px;
		color: $color_3;
	}
	.group-14 {
		border-radius: 70px;
		border: 2px solid #446A60;
		position: relative;
		margin-right: 15px;
		display: flex;
		flex-direction: row;
		justify-content: center;
		padding: 5px 0 5px 0.8px;
		width: 164px;
		box-sizing: border-box;
	}
	.filter-38 {
		overflow-wrap: break-word;
		font-family: $font-family_2;
		font-weight: 700;
		font-size: 16px;
		color: $color_3;
	}
	.group-18 {
		border-radius: 70px;
		border: 2px solid #446A60;
		position: relative;
		display: flex;
		flex-direction: row;
		justify-content: center;
		padding: 5px 0 5px 0.8px;
		width: 164px;
		box-sizing: border-box;
	}
	.container-7 {
		margin-bottom: 20px;
		display: flex;
		flex-direction: row;
		width: 886px;
		box-sizing: border-box;
	}
	.filter-40 {
		overflow-wrap: break-word;
		font-family: $font-family_2;
		font-weight: 700;
		font-size: 16px;
		color: $color_3;
	}
	.group-23 {
		border-radius: 70px;
		border: 2px solid #446A60;
		position: relative;
		margin: 0 15px 3px 0;
		display: flex;
		flex-direction: row;
		justify-content: center;
		padding: 5px 0 5px 0.8px;
		width: 164px;
		height: fit-content;
		box-sizing: border-box;
	}
	.filter-44 {
		overflow-wrap: break-word;
		font-family: $font-family_2;
		font-weight: 700;
		font-size: 16px;
		color: $color_3;
	}
	.group-19 {
		border-radius: 70px;
		border: 2px solid #446A60;
		position: relative;
		margin: 0 15px 3px 0;
		display: flex;
		flex-direction: row;
		justify-content: center;
		padding: 5px 0 5px 0.8px;
		width: 164px;
		height: fit-content;
		box-sizing: border-box;
	}
	.filter-43 {
		overflow-wrap: break-word;
		font-family: $font-family_2;
		font-weight: 700;
		font-size: 16px;
		color: $color_3;
	}
	.group-20 {
		border-radius: 70px;
		border: 2px solid #446A60;
		position: relative;
		margin: 0 21px 3px 0;
		display: flex;
		flex-direction: row;
		justify-content: center;
		padding: 5px 0 5px 0.8px;
		width: 164px;
		height: fit-content;
		box-sizing: border-box;
	}
	.filter-42 {
		overflow-wrap: break-word;
		font-family: $font-family_2;
		font-weight: 700;
		font-size: 16px;
		color: $color_3;
	}
	.group-21 {
		border-radius: 70px;
		border: 2px solid #446A60;
		position: relative;
		margin-top: 3px;
		display: flex;
		flex-direction: row;
		justify-content: center;
		padding: 5px 0 5px 0.8px;
		width: 164px;
		height: fit-content;
		box-sizing: border-box;
	}
	.container-5 {
		margin-bottom: 17px;
		display: flex;
		flex-direction: row;
		align-self: flex-start;
		width: 707px;
		box-sizing: border-box;
	}
	.filter-36 {
		overflow-wrap: break-word;
		font-family: $font-family_2;
		font-weight: 700;
		font-size: 16px;
		color: $color_3;
	}
	.group-15 {
		border-radius: 70px;
		border: 2px solid #446A60;
		position: relative;
		display: flex;
		flex-direction: row;
		justify-content: center;
		padding: 5px 0 5px 0.8px;
		width: 164px;
		box-sizing: border-box;
	}
	.filter-37 {
		overflow-wrap: break-word;
		font-family: $font-family_2;
		font-weight: 700;
		font-size: 16px;
		color: $color_3;
	}
	.group-16 {
		border-radius: 70px;
		border: 2px solid #446A60;
		position: relative;
		display: flex;
		flex-direction: row;
		justify-content: center;
		padding: 5px 0 5px 0.8px;
		width: 164px;
		box-sizing: border-box;
	}
	.filter-41 {
		overflow-wrap: break-word;
		font-family: $font-family_2;
		font-weight: 700;
		font-size: 16px;
		color: $color_3;
	}
	.group-22 {
		border-radius: 70px;
		border: 2px solid #446A60;
		position: relative;
		display: flex;
		flex-direction: row;
		justify-content: center;
		padding: 5px 0 5px 0.8px;
		width: 164px;
		box-sizing: border-box;
	}
	.container-19 {
		display: flex;
		flex-direction: row;
		align-self: flex-start;
		column-gap: 15px;
		width: 522px;
		box-sizing: border-box;
	}
	.product-type {
		margin: 22px 0 56px 0;
		display: flex;
		flex-direction: column;
		box-sizing: border-box;
	}
	.container-2 {
		margin-bottom: 50px;
		display: flex;
		flex-direction: row;
		width: fit-content;
		box-sizing: border-box;
	}
	.style {
		margin-bottom: 13px;
		display: inline-block;
		align-self: flex-start;
		overflow-wrap: break-word;
		font-family: $font-family_2;
		font-weight: 500;
		font-size: 30px;
		letter-spacing: 0.3px;
		line-height: 1.4;
		color: $color_2;
	}
	.filter-9 {
		overflow-wrap: break-word;
		font-family: $font-family_2;
		font-weight: 700;
		font-size: 16px;
		color: $color_3;
	}
	.group-24 {
		border-radius: 70px;
		border: 2px solid #446A60;
		position: relative;
		display: flex;
		flex-direction: row;
		justify-content: center;
		padding: 5px 0 5px 0.8px;
		width: 164px;
		box-sizing: border-box;
	}
	.filter-10 {
		overflow-wrap: break-word;
		font-family: $font-family_2;
		font-weight: 700;
		font-size: 16px;
		color: $color_3;
	}
	.group-25 {
		border-radius: 70px;
		border: 2px solid #446A60;
		position: relative;
		display: flex;
		flex-direction: row;
		justify-content: center;
		padding: 5px 0 5px 0.8px;
		width: 164px;
		box-sizing: border-box;
	}
	.filter-21 {
		overflow-wrap: break-word;
		font-family: $font-family_2;
		font-weight: 700;
		font-size: 16px;
		color: $color_3;
	}
	.group-36 {
		border-radius: 70px;
		border: 2px solid #446A60;
		position: relative;
		display: flex;
		flex-direction: row;
		justify-content: center;
		padding: 5px 0 5px 0.8px;
		width: 164px;
		box-sizing: border-box;
	}
	.container-11 {
		margin: 0 0 21px 2px;
		display: flex;
		flex-direction: row;
		column-gap: 22px;
		width: 536px;
		box-sizing: border-box;
	}
	.filter-19 {
		overflow-wrap: break-word;
		font-family: $font-family_2;
		font-weight: 700;
		font-size: 16px;
		color: $color_3;
	}
	.group-34 {
		border-radius: 70px;
		border: 2px solid #446A60;
		position: relative;
		display: flex;
		flex-direction: row;
		justify-content: center;
		padding: 5px 0 5px 0.8px;
		width: 164px;
		box-sizing: border-box;
	}
	.filter-18 {
		overflow-wrap: break-word;
		font-family: $font-family_2;
		font-weight: 700;
		font-size: 16px;
		color: $color_3;
	}
	.group-33 {
		border-radius: 70px;
		border: 2px solid #446A60;
		position: relative;
		display: flex;
		flex-direction: row;
		justify-content: center;
		padding: 5px 0 5px 0.8px;
		width: 164px;
		box-sizing: border-box;
	}
	.filter-17 {
		overflow-wrap: break-word;
		font-family: $font-family_2;
		font-weight: 700;
		font-size: 16px;
		color: $color_3;
	}
	.group-32 {
		border-radius: 70px;
		border: 2px solid #446A60;
		position: relative;
		display: flex;
		flex-direction: row;
		justify-content: center;
		padding: 5px 0 5px 0.8px;
		width: 164px;
		box-sizing: border-box;
	}
	.container-20 {
		margin: 0 0 20px 2px;
		display: flex;
		flex-direction: row;
		column-gap: 22px;
		width: 536px;
		box-sizing: border-box;
	}
	.filter-13 {
		overflow-wrap: break-word;
		font-family: $font-family_2;
		font-weight: 700;
		font-size: 16px;
		color: $color_3;
	}
	.group-28 {
		border-radius: 70px;
		border: 2px solid #446A60;
		position: relative;
		display: flex;
		flex-direction: row;
		justify-content: center;
		padding: 5px 0 5px 0.8px;
		width: 164px;
		box-sizing: border-box;
	}
	.filter-15 {
		overflow-wrap: break-word;
		font-family: $font-family_2;
		font-weight: 700;
		font-size: 16px;
		color: $color_3;
	}
	.group-30 {
		border-radius: 70px;
		border: 2px solid #446A60;
		position: relative;
		display: flex;
		flex-direction: row;
		justify-content: center;
		padding: 5px 0 5px 0.8px;
		width: 164px;
		box-sizing: border-box;
	}
	.filter-16 {
		overflow-wrap: break-word;
		font-family: $font-family_2;
		font-weight: 700;
		font-size: 16px;
		color: $color_3;
	}
	.group-31 {
		border-radius: 70px;
		border: 2px solid #446A60;
		position: relative;
		display: flex;
		flex-direction: row;
		justify-content: center;
		padding: 5px 0 5px 0.8px;
		width: 164px;
		box-sizing: border-box;
	}
	.container-23 {
		margin: 0 0 23px 2px;
		display: flex;
		flex-direction: row;
		column-gap: 22px;
		width: 536px;
		box-sizing: border-box;
	}
	.filter-20 {
		overflow-wrap: break-word;
		font-family: $font-family_2;
		font-weight: 700;
		font-size: 16px;
		color: $color_3;
	}
	.group-35 {
		border-radius: 70px;
		border: 2px solid #446A60;
		position: relative;
		margin-right: 19px;
		display: flex;
		flex-direction: row;
		justify-content: center;
		padding: 5px 0 5px 1.1px;
		width: 208px;
		box-sizing: border-box;
	}
	.filter-14 {
		overflow-wrap: break-word;
		font-family: $font-family_2;
		font-weight: 700;
		font-size: 16px;
		line-height: 0.938;
		color: $color_3;
	}
	.group-29 {
		border-radius: 70px;
		border: 2px solid #446A60;
		position: relative;
		display: flex;
		flex-direction: row;
		justify-content: center;
		padding: 9.5px 0 9.5px 1.2px;
		width: 243px;
		box-sizing: border-box;
	}
	.container-13 {
		margin: 0 2px 21px 2px;
		display: flex;
		flex-direction: row;
		align-self: flex-start;
		width: 470px;
		box-sizing: border-box;
	}
	.filter-12 {
		overflow-wrap: break-word;
		font-family: $font-family_2;
		font-weight: 700;
		font-size: 16px;
		color: $color_3;
	}
	.group-27 {
		border-radius: 70px;
		border: 2px solid #446A60;
		position: relative;
		margin-right: 24px;
		display: flex;
		flex-direction: row;
		justify-content: center;
		padding: 5px 0 5px 0.8px;
		width: 164px;
		box-sizing: border-box;
	}
	.filter-11 {
		overflow-wrap: break-word;
		font-family: $font-family_2;
		font-weight: 700;
		font-size: 16px;
		color: $color_3;
	}
	.group-26 {
		border-radius: 70px;
		border: 2px solid #446A60;
		position: relative;
		display: flex;
		flex-direction: row;
		justify-content: center;
		padding: 5px 0 5px 1px;
		width: 204px;
		box-sizing: border-box;
	}
	.container-12 {
		margin: 0 2px;
		display: flex;
		flex-direction: row;
		align-self: flex-start;
		width: 392px;
		box-sizing: border-box;
	}
	.group-257 {
		margin: 0 143px 3px 0;
		display: flex;
		flex-direction: column;
		box-sizing: border-box;
	}
	.material {
		margin-bottom: 8px;
		display: inline-block;
		align-self: flex-start;
		overflow-wrap: break-word;
		font-family: $font-family_2;
		font-weight: 500;
		font-size: 30px;
		letter-spacing: 0.3px;
		line-height: 1.4;
		color: $color_2;
	}
	.filter-22 {
		overflow-wrap: break-word;
		font-family: $font-family_2;
		font-weight: 700;
		font-size: 16px;
		color: $color_3;
	}
	.group-37 {
		border-radius: 70px;
		border: 2px solid #446A60;
		position: relative;
		margin-bottom: 1px;
		display: flex;
		flex-direction: row;
		justify-content: center;
		padding: 5px 0 5px 0.8px;
		width: 164px;
		height: fit-content;
		box-sizing: border-box;
	}
	.filter-23 {
		overflow-wrap: break-word;
		font-family: $font-family_2;
		font-weight: 700;
		font-size: 16px;
		color: $color_3;
	}
	.group-38 {
		border-radius: 70px;
		border: 2px solid #446A60;
		position: relative;
		margin-bottom: 1px;
		display: flex;
		flex-direction: row;
		justify-content: center;
		padding: 5px 0 5px 0.8px;
		width: 164px;
		height: fit-content;
		box-sizing: border-box;
	}
	.filter-33 {
		overflow-wrap: break-word;
		font-family: $font-family_2;
		font-weight: 700;
		font-size: 16px;
		color: $color_3;
	}
	.group-48 {
		border-radius: 70px;
		border: 2px solid #446A60;
		position: relative;
		margin-bottom: 1px;
		display: flex;
		flex-direction: row;
		justify-content: center;
		padding: 5px 0 5px 0.8px;
		width: 164px;
		height: fit-content;
		box-sizing: border-box;
	}
	.filter-26 {
		overflow-wrap: break-word;
		font-family: $font-family_2;
		font-weight: 700;
		font-size: 16px;
		color: $color_3;
	}
	.group-41 {
		border-radius: 70px;
		border: 2px solid #446A60;
		position: relative;
		margin-top: 1px;
		display: flex;
		flex-direction: row;
		justify-content: center;
		padding: 5px 0 5px 0.8px;
		width: 164px;
		height: fit-content;
		box-sizing: border-box;
	}
	.container-6 {
		margin-bottom: 13px;
		display: flex;
		flex-direction: row;
		column-gap: 15px;
		width: 701px;
		box-sizing: border-box;
	}
	.filter-31 {
		overflow-wrap: break-word;
		font-family: $font-family_2;
		font-weight: 700;
		font-size: 16px;
		color: $color_3;
	}
	.group-46 {
		border-radius: 70px;
		border: 2px solid #446A60;
		position: relative;
		margin-top: 4px;
		display: flex;
		flex-direction: row;
		justify-content: center;
		padding: 5px 0 5px 0.8px;
		width: 164px;
		height: fit-content;
		box-sizing: border-box;
	}
	.filter-30 {
		overflow-wrap: break-word;
		font-family: $font-family_2;
		font-weight: 700;
		font-size: 16px;
		color: $color_3;
	}
	.group-45 {
		border-radius: 70px;
		border: 2px solid #446A60;
		position: relative;
		margin-top: 4px;
		display: flex;
		flex-direction: row;
		justify-content: center;
		padding: 5px 0 5px 0.8px;
		width: 164px;
		height: fit-content;
		box-sizing: border-box;
	}
	.filter-29 {
		overflow-wrap: break-word;
		font-family: $font-family_2;
		font-weight: 700;
		font-size: 16px;
		color: $color_3;
	}
	.group-44 {
		border-radius: 70px;
		border: 2px solid #446A60;
		position: relative;
		margin-top: 4px;
		display: flex;
		flex-direction: row;
		justify-content: center;
		padding: 5px 0 5px 0.8px;
		width: 164px;
		height: fit-content;
		box-sizing: border-box;
	}
	.filter-25 {
		overflow-wrap: break-word;
		font-family: $font-family_2;
		font-weight: 700;
		font-size: 16px;
		color: $color_3;
	}
	.group-40 {
		border-radius: 70px;
		border: 2px solid #446A60;
		position: relative;
		margin-bottom: 4px;
		display: flex;
		flex-direction: row;
		justify-content: center;
		padding: 5px 0 5px 0.8px;
		width: 164px;
		height: fit-content;
		box-sizing: border-box;
	}
	.container-9 {
		margin-bottom: 18px;
		display: flex;
		flex-direction: row;
		column-gap: 15px;
		width: 701px;
		box-sizing: border-box;
	}
	.filter-32 {
		overflow-wrap: break-word;
		font-family: $font-family_2;
		font-weight: 700;
		font-size: 16px;
		color: $color_3;
	}
	.group-47 {
		border-radius: 70px;
		border: 2px solid #446A60;
		position: relative;
		display: flex;
		flex-direction: row;
		justify-content: center;
		padding: 5px 0 5px 0.8px;
		width: 164px;
		box-sizing: border-box;
	}
	.filter-24 {
		overflow-wrap: break-word;
		font-family: $font-family_2;
		font-weight: 700;
		font-size: 16px;
		color: $color_3;
	}
	.group-39 {
		border-radius: 70px;
		border: 2px solid #446A60;
		position: relative;
		display: flex;
		flex-direction: row;
		justify-content: center;
		padding: 5px 0 5px 0.8px;
		width: 164px;
		box-sizing: border-box;
	}
	.filter-27 {
		overflow-wrap: break-word;
		font-family: $font-family_2;
		font-weight: 700;
		font-size: 16px;
		color: $color_3;
	}
	.group-42 {
		border-radius: 70px;
		border: 2px solid #446A60;
		position: relative;
		display: flex;
		flex-direction: row;
		justify-content: center;
		padding: 5px 0 5px 0.8px;
		width: 164px;
		box-sizing: border-box;
	}
	.filter-28 {
		overflow-wrap: break-word;
		font-family: $font-family_2;
		font-weight: 700;
		font-size: 16px;
		color: $color_3;
	}
	.group-43 {
		border-radius: 70px;
		border: 2px solid #446A60;
		position: relative;
		display: flex;
		flex-direction: row;
		justify-content: center;
		padding: 5px 0 5px 0.8px;
		width: 164px;
		box-sizing: border-box;
	}
	.container-17 {
		display: flex;
		flex-direction: row;
		column-gap: 15px;
		width: 701px;
		box-sizing: border-box;
	}
	.group-258 {
		margin: 0 13px 69px 0;
		display: flex;
		flex-direction: column;
		width: fit-content;
		box-sizing: border-box;
	}
	.rectangle-21891 {
		border-radius: 35px;
		background: rgba(79, 133, 107, 0.89);
		position: absolute;
		left: 50%;
		top: 0px;
		translate: -50% 0;
		width: 291px;
		height: 56px;
	}
	.reset-1 {
		position: relative;
		overflow-wrap: break-word;
		font-family: $font-family_2;
		font-weight: 500;
		font-size: 16px;
		line-height: 1.5;
		color: $color_4;
	}
	.reset {
		border-radius: 35px;
		border: 2px solid #3B5D50;
		background: #EFF2F1;
		position: relative;
		margin-right: 46px;
		display: flex;
		flex-direction: row;
		justify-content: center;
		padding: 15px 0;
		width: 291px;
		box-sizing: border-box;
	}
	.see-recommendation {
		margin: 7px 24.7px 11px 0;
		display: inline-block;
		overflow-wrap: break-word;
		font-family: $font-family_2;
		font-weight: 500;
		font-size: 16px;
		line-height: 1.5;
		color: $color_5;
	}
	.union {
		width: 24.2px;
		height: 20px;
	}
	.group-211 {
		display: flex;
		flex-direction: row;
		justify-content: center;
		width: 24.2px;
		height: 20px;
		box-sizing: border-box;
	}
	.group-221 {
		border-radius: 21px;
		background: #FEFDFF;
		position: relative;
		display: flex;
		flex-direction: row;
		justify-content: center;
		padding: 11px 8.7px 11px 9.1px;
		width: 42px;
		height: 42px;
		box-sizing: border-box;
	}
	.send-button {
		border-radius: 35px;
		background: #2E644F;
		position: relative;
		display: flex;
		flex-direction: row;
		padding: 7px 18px 7px 26px;
		box-sizing: border-box;
	}
	.container-18 {
		display: flex;
		flex-direction: row;
		width: fit-content;
		box-sizing: border-box;
	}
	.container-21 {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		box-sizing: border-box;
	}
	.container-3 {
		margin-right: 7px;
		display: flex;
		flex-direction: row;
		width: fit-content;
		box-sizing: border-box;
	}
	.landing-2-product {
		background: #EFF2F1;
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 282px 0 81px 0;
		width: 1920px;
		height: fit-content;
		box-sizing: border-box;
	}
	.tell-us-what-are-you-looking-for {
		margin: 0 391.3px 51px 0;
		display: inline-block;
		overflow-wrap: break-word;
		font-family: $font-family_2;
		font-weight: 400;
		font-size: 48px;
		letter-spacing: -2.9px;
		line-height: 1.15;
		color: $color_6;
	}
	.hi-furni-user-its-awesome-that-youve-made-it-to-our-recommendation-system-its-super-easy-just-let-us-know-the-characteristics-of-the-item-youre-looking-for-and-well-provide-recommendations-right-away {
		margin: 0 78.4px 109px 0;
		display: inline-block;
		overflow-wrap: break-word;
		font-family: $font-family_3;
		font-weight: 400;
		font-size: 28px;
		letter-spacing: 0.3px;
		line-height: 1.464;
		color: $color_6;
	}
	.recommender-system {
		margin-bottom: 22px;
		display: inline-block;
		align-self: flex-start;
		overflow-wrap: break-word;
		font-family: $font-family_2;
		font-weight: 500;
		font-size: 45px;
		letter-spacing: -2.7px;
		line-height: 1.15;
		color: $color_1;
	}
	.in-order-to-get-your-recommended-furniture-items-you-only-need-to-insert-your-preference-based-on-necessary-below {
		align-self: flex-start;
		overflow-wrap: break-word;
		font-family: $font-family_3;
		font-weight: 400;
		font-size: 28px;
		letter-spacing: 0.3px;
		line-height: 1.3;
		color: $color_1;
	}
	.container-10 {
		background: #DCE4DB;
		position: relative;
		display: flex;
		flex-direction: column;
		padding: 55px 0 54px 188px;
		width: fit-content;
		box-sizing: border-box;
	}
	.container-16 {
		background: linear-gradient(rgba(0, 0, 0, 0.53), rgba(0, 0, 0, 0.53)), url('assets/images/Image22.png') 50% / cover no-repeat;
		position: absolute;
		left: 1px;
		top: 0px;
		right: 0px;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-top: 83px;
		box-sizing: border-box;
	}
	.frame-34 {
		position: relative;
		display: flex;
		flex-direction: row;
		justify-content: center;
		padding: 523px 1px 0 0;
		width: 1921px;
		box-sizing: border-box;
	}
	background: #EFF2F1;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 1920px;
	box-sizing: border-box;
}
